{
  "build_creds" : {
    "archiveUser": "htpasswduserforarchivebuilds",
    "archivePass": "htpasswdpassforarchivebuilds",
    "archiveBaseUrl" : "http://urlpointingtoyourbuildpath.com",
    "archiveBasePath" : "~/www/build/"
  },
  "slack_creds" : {
    "authToken" : "xxxx-xxxxxxxxxxx-xxxxxxxxxxxx-xxxxxxxxxx-xxxxxxxx",
    "botToken" : "xxxxx-xxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxx",
    "channels" : {
      "build" : "#buildnotifications",
      "main" : "xxxxxxxxxxx"
    }
  },
  "hipchat_creds" : {
    "authToken": "xxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "roomID" : "xxxxxxx"
  },
  "aws_creds" : {
    "accessKeyId" : "xxxxxxxxxxxxxxxxxxxxxxxx",
    "secretAccessKey": "xxxxxxxxxxxxxxxxxxxxx"
  },
  "version_meta" : {
    "pre_release" : "beta",
    "decaf" : "decaf",
    "rc" : "rc",
    "release" : "p"
  },
  "parentPluginSlug" : "plugin-slug-of-main-plugin"
}
